# Define the Domain Config

"domain_config": {

    "domain": "Ciphar 10",

    # Evaluator Specs
    "evaluator_specs": {
        "epochs": 50,
        "verbose": True,
        "batch_size": 1000,
        "model_path": "/Users/mohok/Desktop/mineai/evolf/domains/ciphar10/model",
        "model_file_name": "mnist_model.json",
        "weight_file_name": "mnist_model_weights.h5",

        "early_stopping_config": {
            "monitor": "val_acc",
            "mode": "max",
            "print_early_stopping": True,
            "patience": 1,
            "min_delta": 0.15
        },

        "switch_threshold": 0.9796
    },

    "model_generation": {
        "generate_model": True,
        "model_path": "/Users/mohok/Desktop/mineai/evolf/domains/ciphar10/model",
        "model_file_name": "mnist_model.json",
        "weight_file_name": "mnist_model_weights.h5"
    },

    "data_config": {
        "train_percentage": 0.8,
        "validation_percentage": 0.1,
        "test_percentage": 0.1
    },

    "state_of_the_art_config": {
        "evaluate": True,
        "epochs": 10,
        "verbose": True,
        "batch_size": 1000,
        "model_path": "/Users/mohok/Desktop/mineai/evolf/domains/ciphar10/model",
        "model_file_name": "mnist_model.json",
        "weight_file_name": "mnist_model_weights.h5",
        "loss": "categorical_crossentropy",
        "early_stopping_config": {
            "monitor": "val_acc",
            "mode": "max",
            "print_early_stopping": True,
            "patience": 5,
            "min_delta": 1
        }
    }

    "search_space": {

    }
},

# Evolution Specs
"evolution_specs": {
    "initial_population_size": 200,
    "population_size": 20,
    "mating_pool_multiplier": 100,
    "num_parents": 2,
    "weighted_function_mutation_rate": 0.05,
    "mutate_value_literal_nodes_rate": 0.025,
    "mutate_leaf_node_rate": 0.025,
    "elitism": 0.1,
    "num_of_generations": 50,
    "tree_min_height": 2,
    "tree_max_height": 3
},

# Visualization Specs
"visualization_specs": {
    "visualize_tree": True,
    "visualize_function": True,
    "visualize_avg_fitness": True,
    "visualize_best_fitness": True

},

# Persistance Specs
"persistence_specs": {
    "output_path": "/Users/mohok/Desktop/mineai/evolf/domains/mnist/results",
    "persist": True
}

# Hardware Specs

