<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>String Evolution</title>
  </head>
  <body>

    <div class="head_block">
      <h1> Evolve a String !!! </h1>
      <p> Starting from random characters, <br> using genetic algorithms evolve a string. </p>
    </div>

    <div class="target_input">
      <form method="POST">
        Target: <input name="target">
        <input type="submit">
    </form>

    <hr>
    <p>Evolved Candidate: {{ evolved_candidate }}</p>
    <p>Time Taken: {{ time }} mins</p>
    </div>
  </body>
</html>
