# Define the Domain Config
"domain_config": {

    # Specify the name of the Domain
    "domain": "MNIST",

    # Set The Confiuration for the evaluator
    # Evaluator Specs
    "evaluator_specs": {
        "epochs": 100, # Number of epochs to train the function
        "verbose": True,
        "batch_size": 128,

        # Specify the path where the weights and the model are located
        "model_load_path": "/Users/mohok/Desktop/mineai/evolf/domains/mnist/small_model",
        "model_file_name": "mnist_model.json",
        "weight_file_name": "mnist_model_weights.h5",

        "early_stopping_config": {
            "monitor": "val_acc",
            "mode": "max",
            "print_early_stopping": True,
            "patience": 5,
            "min_delta": 0.1
        },

        "switch_threshold": 0.9796
    },

    "model_generation": {
        "generate_model": True,
        "model_save_path": "/Users/mohok/Desktop/mineai/evolf/domains/mnist/small_model",
        "model_file_name": "mnist_model.json",
        "weight_file_name": "mnist_model_weights.h5"
    },

    "data_config": {
        "train_percentage": 0.8,
        "validation_percentage": 0.1,
        "test_percentage": 0.1
    },

    "state_of_the_art_config": {
        "evaluate": False,
        "epochs": 10,
        "verbose": True,
        "batch_size": 128,
        "model_path": "/Users/mohok/Desktop/mineai/evolf/domains/mnist/small_model",
        "model_file_name": "mnist_model.json",
        "weight_file_name": "mnist_model_weights.h5",
        "loss": "categorical_crossentropy",
        "early_stopping_config": {
            "monitor": "val_acc",
            "mode": "max",
            "print_early_stopping": True,
            "patience": 10,
            "min_delta": 1
        }
    },

    "search_space": {
        "U": {
            "log": 4,
            "sqrt": 1,
            "square": 1
        },
        "B": {
            "+": 1,
            "-": 1,
            "*": 1,
            "/": 1
        },
        "L": {
            "y": 3,
            "t": 3,
            "pos_scalar": 1,
            "neg_scalar": 1
        },
        "R": {
            "mean": 1
        }
    }

},

# Evolution Specs
"evolution_specs": {
    "initial_population_size": 5,
    "population_size": 80,
    "mating_pool_multiplier": 100,
    "num_parents": 2,
    "weighted_function_mutation_rate": 0.25,
    "mutate_value_literal_nodes_rate": 0.025,
    "mutate_leaf_node_rate": 0.025,
    "shrink_mutation_rate": 0.5,
    "hoist_mutation_rate": 0.5,
    "elitism": 0.1,
    "num_of_generations": 50,
    "tree_min_height": 3,
    "tree_max_height": 4,
},

# Visualization Specs
"visualization_specs": {
    "visualize_tree": True,
    "visualize_function": True,
    "visualize_avg_fitness": True,
    "visualize_best_fitness": True

},

# Persistance Specs
"persistence_specs": {
    "output_path": "/Users/mohok/Desktop/mineai/evolf/domains/mnist/results",
    "persist": True
}

# Studio Config
"studio_config": {
    "database": {
        "type": "s3",
        "endpoint": ${STUDIO_DATABASE_ENDPOINT},
        "bucket": "mineai-mnist-database",
        "authentication": none
    },
    "storage":{
        "type": "s3",
        "endpoint": ${STUDIO_STORAGE_ENDPOINT},
        "bucket": "mineai-mnist-storage"
    },
    "server":{
        "authentication": none
    }
    "queue": "local"
    "saveMetricsFrequency": "1m"
    "saveWorkspaceFrequency": "1m"
    "verbose": True
    "resources_needed": {
        cpus: 2
        ram:  3g
        hdd:  60g
        gpus: 0
    }
}
